

img {
  margin: 0 auto;
  display: block
}

.main {
  background-color: #FFE4DA;
}

#page_title {
  color: black;
  text-align: center;
  font-family: 'Georgia' serif;
  font-size: 2em;
}

.top_nav {
 list-style: none;
 display: flex;
 justify-content: space-between;
 margin: 0 2em;
 font-family: 'Georgia' serif;
 font-size: 2em;
}
/*
li {
  padding-left: 3em;
}*/

.nav {
  height: 2em;
  width: 100%;
  border: 2px solid;
  background-color: #D6BBB1;
}

.top_nav a:hover {
  color: #FFE4DA;
  background-color: #702000;
  font-style: italic;
}

a {
  text-decoration: none;
}

body {
  align-content: left;
}

#form {
  width: 55%;
  margin: 0 auto;
  display: block;

}

label {
  margin-right: 2px;

}

.location_form {
  padding: .5em .5em .5em 0;
}

.location_box {
  border-radius: 10px;
  width: 250px;
  padding-left: 10px;
}

.avg_and_submit {
  width: 100%;
  padding: .5em .5em .5em 0;
  display: inline-block;
}

.max {
  padding-left: 20px;
}

.input_box {
  border-radius: 10px;
  width: 50px;
  padding-left: 10px;
}

fieldset {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #702000;
}


legend {
  background-color: #D6BBB1;
  border-radius: 10px;
  padding: 10px 20px;
  border: 1px solid #702000;
}

input#submit {
  border-radius: 10px;
  width: 200px;
  height: 30px;
  font-size: .8em;
  text-shadow: 0px 1px 1px #ffffff;
  border: 2px solid #702000;
  float: right;
}

input#submit:hover {
  color: #FFE4DA;
  background-color: #702000;
  cursor: pointer hand;
}

table {
  border: 4px solid #702000;
  background-color: #D6BBB1;
  padding: 5px;
  width: 55%;
  margin:1em auto;
}

#table_title {
  text-align: center;
}

#totals {
  color: black;
  font-size: 1.1em;
  font-weight: bold;
}

th {
  border-bottom: 2px solid #702000
}

ul {
  list-style: circle;
}

li {
  color: #553D33;
  font-family: 'Arial' sans-serif;;
  font-size: .8em;
}

#styleguide_box {
  width: 200px;
  border: 5px solid #702000;
  background-color: #D6BBB1;
  padding: 25px;
}

#styleguide_title {
  font-family: 'Georgia' serif;
  align-content: center;
  color: black;
}

#styleguide_headers {
  font-family: 'Georgia' serif;
  color: #CD724D;
}

#styleguide_highlights {
  @font-family: 'Lato', sans-serif;
  src: url ('https://fonts.googleapis.com/css?family=Lato');
  color: #702000;
}

p {
  color: #553D33;
  font-family: 'Arial' sans-serif;
  font-size: 1em;
  text-align: left;
}

span {
  color: black strong;
}

#swatchDescription {
  font-size: 1em;
  align-content: center;
  font-family: 'Arial' sans-serif;
}

.color-table {
  margin: 2em 2em 5em;
  align-self: center;
  border-collapse:collapse;
  border:none;
  border-spacing:0;
  font-size:100%;
}
.color-table th {
  padding: 0 1em 0 0;
  text-align: right;
  vertical-align: middle;
  font-size: 100%;
  font-weight: normal;
  border: none;
}
.color-table td.sample {
  width:6em; height:6em;
  padding: 10px;
  text-align:center;
  vertical-align:middle;
  font-size:90%;
  border: 1px solid white;
  white-space:nowrap;
}
.color-table td.sample-0 {
  width:18em;
}
.color-table.small td.sample {
  width:3em; height:3em;
  padding:0;
  border:none;
}
.color-table.small td.sample-0 {
  width:9em;
}
.color-table .white { margin-bottom:0.2em; color:white }
.color-table .black { margin-top:0.2em; color:black }

.primary-1 { background-color: #D6BBB1 }
.primary-2 { background-color: #FFE4DA }
.primary-0 { background-color: #CD724D }
.primary-3 { background-color: #553D33 }
.primary-4 { background-color: #702000 }
